

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    .side-menu {
        width: 300px;
    }
    .tabs-inner {
        --width: calc(100% - 300px);
    }
}

* {
    --background: transparent;
}